@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Inter', sans-serif;
  --container-8xl: 90rem; 
}

:root {
  --ui-container: var(--container-8xl);
  --ui-radius: 0rem;
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}

/* RTL Support */
[dir="rtl"] {
  direction: rtl;
  text-align: start;
  font-family: 'IBM Plex Sans Arabic', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

[dir="ltr"] {
  direction: ltr;
  text-align: start;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}